language: node_js
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
#  - windows
node_js:
  - '12'
  - '11'
  - '10'
  - '9'
  - '8'
  - '7'
  - '6'
#before_install:
#  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install vcbuildtools && PowerShell -Command 'Install-WindowsFeature Net-Framework-Core' ; fi
install:
  - npm install
script:
  - npm test
env:
  - V=1 # node-gyp verbose build
